body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #3F4F44, #2C3930);
    font-family: 'Arial', sans-serif;
    height: 100vh;
    color: #DCD7C9;
}

header {
    text-align: center;
    color: #A27B5C;
    margin: 20px 0;
}

h1 {
    font-size: 2.5rem;
    letter-spacing: 1px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#openModalBtn {
    border: none;
    border-radius: 30px;
    color: #DCD7C9;
    background-color: #A27B5C;
    margin-bottom: 20px;
    width: 150px;
    height: 40px;
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#openModalBtn:hover {
    background-color: #3F4F44;
    transform: scale(1.05);
}

.Tasks_container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.task_box {
    width: 30%;
    background-color: #3F4F44;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto; 
    min-height: 150px; 
}

.task_box:hover {
    transform: translateY(-10px);
}

.task_box h3 {
    color: #A27B5C;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

#Pending, #In_Process, #Completed {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: auto; 
    min-height: 200px; 
    overflow-y: auto;
}

.task-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DCD7C9;
    padding: 10px;
    border-radius: 5px;
    color: #3F4F44;
}

.task_title {
    font-size: 1.1rem;
    font-weight: 600;
}

footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: #DCD7C9;
}

footer a {
    color: #A27B5C;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
